<html lang="en">

  <head>
    <title>Ensurely</title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
    <!-- Meta -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="description"
      content="Datta Able Bootstrap admin template made using Bootstrap 4 and it has huge amount of ready made feature, UI components, pages which completely fulfills any dashboard needs."
    />
    <meta
      name="keywords"
      content="admin templates, bootstrap admin templates, bootstrap 4, dashboard, dashboard templets, sass admin templets, html admin templates, responsive, bootstrap admin templates free download,premium bootstrap admin templates, datta able, datta able bootstrap admin template"
    />
    <meta name="author" content="Codedthemes" />

    <!-- Favicon icon -->
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <!-- fontawesome icon -->
    <link
      rel="stylesheet"
      href="/fonts/fontawesome/css/fontawesome-all.min.css"
    />
    <!-- animation css -->
    <link
      rel="stylesheet"
      href="/plugins/animation/css/animate.min.css"
    />
    <!-- vendor css -->
    <link rel="stylesheet" href="/css/style.css" />

  </head>

  <body>
    <div class="auth-wrapper">
      <div class="auth-content">
        <div class="auth-bg">
          <span class="r"></span>
          <span class="r s"></span>
          <span class="r s"></span>
          <span class="r"></span>
        </div>
        <div class="card">
          <div class="card-body text-center">
            <div class="mb-4">
              <i class="feather icon-mail auth-icon"></i>
            </div>
            <% if (typeof OTP_FOR_EMAIL_VERIFICATION !== 'undefined' && OTP_FOR_EMAIL_VERIFICATION.length > 0) { %>
                <p class="alert alert-success"><%= OTP_FOR_EMAIL_VERIFICATION %></p>
            <% } %>
            <% if (typeof OTP_FOR_PASSWORD !== 'undefined' && OTP_FOR_PASSWORD.length > 0) { %>
              <p class="alert alert-success"><%= OTP_FOR_PASSWORD %></p>
          <% } %>
          <% if (typeof EMAIL_OTP_NOT_VERIFIED !=='undefined' && EMAIL_OTP_NOT_VERIFIED.length> 0) { %>
            <p class="alert alert-light">
              <%= EMAIL_OTP_NOT_VERIFIED %>
            </p>
            <% } %>
            <h3 class="mb-4">Enter OTP</h3>
            <form id="submit_otp" action="/v1/admin/sign-up/otp/verfication" method="POST">
            <div class="input-group mb-3">
              <input type="text" name="otp" class="form-control" placeholder="OTP" />
              <input type="hidden" id="email" name="email" value="" />
            </div>
            <% if (typeof OTP_MISMATCH !== 'undefined' && OTP_MISMATCH.length > 0) { %>
              <div class="alert-danger">
                <p><%= OTP_MISMATCH %></div></p>
            <% } %>
            <button tye="submit" class="btn btn-primary mb-4 shadow-2">Submit OTP</button>
            </form>
            <form id="resend_otp" action="/v1/admin/email-verification/resend/otp" method="POST">
              <div class="resent_otp">
                <input type="hidden" id="email_resend_otp" name="email" value="" />
                <span>Don't recieve the OTP?</span> 
                <button tye="submit">Resend OTP</button>
              </div>
            </form> 
            <p class="mb-0 text-muted">Already have an account?
              <a href="/v1/admin/login">Log in</a></p>
          </div>
        </div>
      </div>
    </div>

    <!-- Required Js -->
    <script src="/js/vendor-all.min.js"></script>
    <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/pcoded.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script>
      $(document).ready(function () {
        $("#submit_otp").validate({
          rules: {
            otp: { required: true, maxlength: 4 },
          },
        });
     $("#email").val(localStorage.getItem('email'))
      });
      $(document).ready(function () {
        $("#email").val(localStorage.getItem('email'))
        $("#email_resend_otp").val(localStorage.getItem('email'))
      });
    </script>
     <script>
        
</script>
  </body>
</html>