<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <title>ensurly P</title>

    <!-- bootsrap cdn link -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.all.min.js"></script>

    <!-- bootsrap cdn link -->
    <link rel="stylesheet" href="/homePageCss/style.css" />
    <!-- <link rel="stylesheet" href="public/css/responsive.css" /> -->
  </head>
  <body>
    <!-- header part start -->
    <header class="site-header">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="site-logo">
            <a href="#"><img src="/img/ensure.ly.png" alt="logo" /></a>
          </div>

          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="d-flex">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#"
                    >COMPANY</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">SOLUTIONS</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">BLOG</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">PRICING</a>
                </li>
                <!-- <li class="nav-item">
                  <a class="nav-link" href="#">PRICING</a>
                </li> -->
              </ul>

              <a href="#" class="try-button digi-btn">
                <span> Try for Free</span>
              </a>

              <!-- <a href="#" class="try-search digi-btn">
                <span> LOG IN</span>
              </a> -->

              <a href="#" class="try-search digi-btn" id="direct-signup">
                <span> SIGN UP</span>
              </a>
            </form>
          </div>
        </nav>
      </div>
    </header>
    <section>
      <!-- home banner -->
      <div class="back-banner home" id="1stbanner">
        <img src="/img/banner1.png" alt="" />
        <div class="banner-text1">
          <!-- <h1 class="Qstn1Part1">
            Are you a <br />
            <span class="Qstn1Part2">Company </span> or
            <span class="Qstn1Part3">Consumer ?</span>
          </h1>
          <a href="#" class="banner-company digi-btn" id="company">
            <span>Company </span>
          </a>

          <a href="#" class="banner-consumer digi-btn" id="consumer">
            <span>Consumer</span>
          </a>
        </div> -->
        <h1 class="Qstn1Part1">

          Are you a <span class="d-inline-block"><span class="Qstn1Part2">Company</span> or <span class="Qstn1Part3">Consumer ?</span></span>
          
          </h1>
          
          <div class="d-block">
          
          <a href="#" class="banner-company digi-btn" id="company">
          
          <span>Company </span>
          
          </a>
          
          
          
          <a href="#" class="banner-consumer digi-btn" id="consumer">
          
          <span>Consumer</span>
          
          </a>
          
          </div>
          </div>
      </div>
      <!-- home banner  end-->

      <!-- home banner-2nd  -->
      <div class="back-banner banner-2nd" id="2ndbanner">
        <img src="/img/banner1.png" alt="" />
        <div class="banner-text1">
          <h1 id="Qstn2Part1">
            Do you believe that counterfeits/fake products is a big issue?
          </h1>
          <a href="#" class="banner-company digi-btn" id="2ndbannerYes">
            <span>Yes </span>
          </a>

          <a href="#" class="banner-consumer digi-btn" id="2ndbannerNo">
            <span>No</span>
          </a>
        </div>
      </div>
      <!-- home banner-2nd  end-->

      <!-- home banner-3rd -->
      <div class="back-banner banner-3rd" id="3rdbanner">
        <img src="/img/banner1.png" alt="" />
        <div class="banner-text1">
          <h1 id="Qstn3Part1">
            Are you worried for your product to be counterfeited?
          </h1>
          <a href="#" class="banner-company digi-btn" id="3rdbannerYes">
            <span>Yes </span>
          </a>

          <a href="#" class="banner-consumer digi-btn" id="3rdbannerNo">
            <span>No</span>
          </a>
        </div>
      </div>
      <!-- home banner-3rd  end-->

      <!-- home banner-4th -->
      <div class="back-banner banner-4th" id="4thbanner">
        <img src="/img/banner1.png" alt="" />
        <div class="banner-text1">
          <h1 id="Qstn4Part1">Signup and protect users from being cheated</h1>
          <a href="#" class="banner-company digi-btn" id="4thbannerSignUpNow">
            <span>SIGN UP NOW </span>
          </a>
        </div>
      </div>
      <!-- home banner-4th  end-->

      <!-- home banner -->
      <div class="back-banner banner-5th " id="5thbanner">
        <img src="/img/banner1.png" alt="" />
        <div class="banner-text1 container">
          <div class="row">
            <div class="col-md-6">
              <h1>
                Fast-track business growth with the best QR Code generator
              </h1>
              <p>
                Create QR Codes online with a robust QR Code generator. Whether
                it’s for your website, sharing contact details, or your store
                location, make QR Codes to cater to your needs.
              </p>
              <a href="/v1/admin/login" class="banner-company digi-btn">
                <span>START NOW </span>
              </a>

              <a href="#" class="banner-consumer digi-btn">
                <span>CONTACT SALE ></span>
              </a>
            </div>
            <div class="col-md-6">
              <div class="banner-form">
                <form
                  id="homePageSignup"
                  action="/v1/admin/sign-up/homePage"
                  method="POST"
                >
                  <h2>SIGN UP NOW</h2>
                  <% if (typeof success !== 'undefined' && success.length > 0) { %>
                    <script type="text/javascript">
                    Swal.fire("Thank You", "for Showing Your Interest", "success");
                    localStorage.setItem("isSurveyCompleted", false);
                    </script>
                <% } %>
                  <% if (typeof ALREADY_EXIST !== 'undefined' && ALREADY_EXIST.length > 0) { %>
                    <script type="text/javascript">
                    localStorage.setItem("isSurveyCompleted", true);

                    Swal.fire({
                      // position: 'top-end',
                      icon: 'info',
                      title: 'Your Email is Already Registered',
                      showConfirmButton: true,
                      // timer: 3000
                    }).then(()=>{
                    localStorage.setItem("isSurveyCompleted",false);
                    })
                    </script>
                <% } %>
                <% if (typeof PASSWORD_NOT_MATCH !== 'undefined' && PASSWORD_NOT_MATCH.length > 0) { %>
                  <script type="text/javascript">
                  localStorage.setItem("isSurveyCompleted", true);

                    Swal.fire({
                      // position: 'top-end',
                      icon: 'error',
                      title: 'Password and Confirm Password are not matching',
                      showConfirmButton: true,
                      // timer: 3000
                    }).then(()=>{
                    localStorage.setItem("isSurveyCompleted",false);
                    })
                    </script>
              <% } %>
                  <input
                    type="text"
                    name="name"
                    id=""
                    placeholder="UserName "
                  />
                  <input type="email" name="email" id="" placeholder="Email" />
                  <!-- <div class="country">
                    <select name="" id="">
                      <option value="+91">
                        <img src="/img/india.png" alt="" /> +91
                      </option>
                      <option value="+91">
                        <img src="/img/india.png" alt="" /> +91
                      </option>
                      <option value="+91">
                        <img src="/img/india.png" alt="" /> +91
                      </option>
                      <option value="+91">
                        <img src="/img/india.png" alt="" /> +91
                      </option>
                      <option value="+91">
                        <img src="/img/india.png" alt="" /> +91
                      </option>
                    </select>
                    <input
                      type="number"
                      name=""
                      id=""
                      placeholder="Phone Number"
                    />
                  </div> -->
                  <input
                    type="password"
                    name="password"
                    id=""
                    placeholder="Password"
                  />
                  <input
                    type="password"
                    name="confirmPassword"
                    id=""
                    placeholder="Confirm Password"
                  />

                  <!-- <input type="button" value="SIGN UP"  class="sweetalert-button"/> -->
                  <button id="form-submit-button" type="submit" class="signup-button">SIGN UP</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- home banner-5th  end-->

      <!-- home banner-6th -->
      <div class="back-banner banner-6th" id="6thbanner">
        <img src="/img/banner1.png" alt="" />
        <div class="banner-text1">
          <h1 id="Qstn6Part1">
            Do you know how big the counterfeit market is?
          </h1>
          <a href="#" class="banner-consumer digi-btn" id="6thbanner1Billion">
            <span>$1 BILLION</span>
          </a>
          <a href="#" class="banner-company digi-btn" id="6thbanner10Billion">
            <span>$10 BILLION </span>
          </a>

          <a href="#" class="banner-consumer digi-btn" id="6thbanner100Billion">
            <span>$100 BILLION</span>
          </a>
        </div>
      </div>
      <!-- home banner-6th  end-->

      <!-- home banner-7th -->
      <div class="back-banner banner-7th" id="7thbanner">
        <img src="/img/banner1.png" alt="" />
        <div class="banner-text1">
          <h1 id="Qstn7Part1">
            $1.7 Trillion and expected to grow up 2.8 Trillion by 2022
          </h1>
          <a
            href="#"
            class="banner-company digi-btn"
            id="7thbannergetstartedNow"
          >
            <span>GET STARTED </span>
          </a>
        </div>
      </div>
      <!-- home banner-7th  end-->

      <!-- home banner-8th -->
      <div class="back-banner banner-3rd banner-8th" id="8thbanner">
        <img src="/img/banner1.png" alt="" />
        <div class="banner-text1">
          <h1 id="Qstn8Part1">
            Have you ever bought a product and felt like checking if this is genuine product ?
          </h1>
          <a href="#" class="banner-company digi-btn" id="8thbannerYes">
            <span>Yes </span>
          </a>

          <a href="#" class="banner-consumer digi-btn" id="8thbannerNo">
            <span>No</span>
          </a>
        </div>
      </div>
      <!-- home banner-8th  end-->

      <!-- home banner-9th -->
      <div class="back-banner banner-3rd banner-9th" id="9thbanner">
        <img src="/img/banner1.png" alt="" />
        <div class="banner-text1">
          <h1 id="Qstn9Part1">
            Would you like to be check your product whether it's fake or genuine?
          </h1>
          <a href="#" class="banner-company digi-btn" id="9thbannerYes">
            <span>Yes </span>
          </a>

          <a href="#" class="banner-consumer digi-btn" id="9thbannerNo">
            <span>No</span>
          </a>
        </div>
      </div>
      <!-- home banner-9th  end-->

      <!-- home banner-10th -->
      <div class="back-banner banner-3rd banner-10th" id="10thbanner">
        <img src="/img/banner1.png" alt="" />
        <div class="banner-text1">
          <h1 id="Qstn10Part1">Download and check your products online</h1>
          <!-- <a href="#" class="banner-company digi-btn" id="10thbannerLink">
            <span>App Download Link</span>
          </a> -->
          <!-- Button trigger modal -->
          <button
            type="button"
            class="banner-company digi-btn" id="10thbannerLink"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
          <span>
            Early Access
          </span>
        
          </button>

          <!-- Modal -->
          <div
            class="modal fade"
            id="exampleModal"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog early-modal">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">
                  Get in touch 
                  </h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <form class="earlyAccess" action="/v1/consumer" method="POST">
                  <div class="modal-body">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Email address</label>
                      <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                     
                    </div>
                  </div>
                  <div class="modal-footer">
                    
                    <button type="submit" class="banner-company digi-btn">
                  <span>
                    Submit
                  </span>
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- home banner-10th  end-->

      <!-- home banner-11th -->
      <div class="back-banner banner-11th" id="11thbanner">
        <img src="/img/banner1.png" alt="" />
        <div class="banner-text1">
          <h1 id="Qstn11Part1">
            $1.7 Trillion and expected to grow up 2.8 Trillion by 2022.Download app and protect yourself from being cheated with a fake product
          </h1>
          <!-- <a
            href="#"
            class="banner-company digi-btn"
            id="11thbannerDownloadLink"
          >
            <span>Download App Now</span>
          </a> -->
           

          <!-- early button start -->
          <button
          type="button"
          class="banner-company digi-btn" id="11thbannerDownloadLink"
          data-bs-toggle="modal"
          data-bs-target="#modal2"
        >
        <span>
          Early Access
        </span>
      
        </button>

        <!-- Modal -->
        <div
          class="modal fade"
          id="modal2"
          tabindex="-1"
          aria-labelledby="modal2Label"
          aria-hidden="true"
        >
          <div class="modal-dialog early-modal">
            <div class="modal-content">
              <div class="modal-header">
                <% if (typeof ALREADY_REGISTER !== 'undefined' && ALREADY_REGISTER.length > 0) { %>
                  <script type="text/javascript">
                  Swal.fire({
                    // position: 'top-end',
                    icon: 'info',
                    title: 'Your Email is Already Registered',
                    showConfirmButton: true,
                    // timer: 3000
                  })
                  </script>
              <% } %>
              <% if (typeof REGISTERD !== 'undefined' && REGISTERD.length > 0) { %>
                <script type="text/javascript">
                Swal.fire({
                  // position: 'top-end',
                  icon: 'success',
                  title: 'Your Email has been registered for EarlyAccess',
                  showConfirmButton: true,
                  // timer: 3000
                })
                </script>
            <% } %>
                <h5 class="modal-title" id="modal2Label">
                Get in touch 
                </h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <form class="earlyAccess" action="/v1/consumer" method="POST">
              <div class="modal-body">
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                 
                </div>
              </div>
              <div class="modal-footer">
                
                <button type="submit" class="banner-company digi-btn">
              <span>
                Submit
              </span>
                </button>
              </div>
            </form>
              </div>
              </div>
              </div>
            </div>
          </div>
        </div>
            

        </div>
      </div>
      <!-- home banner-11th  end-->

      <!-- home banner-12th -->
      <div class="back-banner banner-6th" id="12thbanner">
        <img src="/img/banner1.png" alt="" />
        <div class="banner-text1">
          <h1 id="Qstn12Part1">
            Do you know how big the counterfeit market is?
          </h1>
          <a href="#" class="banner-consumer digi-btn" id="12thbanner1Billion">
            <span>$1 BILLION</span>
          </a>
          <a href="#" class="banner-company digi-btn" id="12thbanner10Billion">
            <span>$10 BILLION </span>
          </a>

          <a
            href="#"
            class="banner-consumer digi-btn"
            id="12thbanner100Billion"
          >
            <span>$100 BILLION</span>
          </a>
        </div>
      </div>
      <!-- home banner-12th  end-->
    </section>

    <!-- start of branding section -->
    <section id="brand-section">
      <div class="container">
        <h2>
          Powering QR Code systems for 10,000+consumer-first brands around the
          world
        </h2>
        <div class="row">
          <div class="col-lg-2 col-md-4 col-sm-6">
            <img src="/img/track.png" />
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6">
            <img src="/img/Puma_AG.svg.png" />
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6">
            <img src="/img/myprotein.png" />
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6">
            <img src="/img/nutition.png" />
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6">
            <img src="/img/track.png" />
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6">
            <img src="/img/Puma_AG.svg.png" />
          </div>

          <div class="col-lg-2 col-md-4 col-sm-6">
            <img src="/img/myprotein.png" />
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6">
            <img src="/img/nutition.png" />
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6">
            <img src="/img/track.png" />
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6">
            <img src="/img/Puma_AG.svg.png" />
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6">
            <img src="/img/myprotein.png" />
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6">
            <img src="/img/nutition.png" />
          </div>
        </div>
      </div>
    </section>

    <!-- mobile section start -->

    <section id="mobile-section">
      <div class="container">
        <div class="mobile-heading">
          <h2>Why will you choose Ensurely?</h2>
          <h5>
            Create QR Codes online with a robust QR Code generator. Whether it’s
            for your website, sharing contact details, or your store location,
            make QR Codes to cater to your needs.
          </h5>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <div class="d-flex">
              <img src="/img/tik.svg" alt="tik pic" />
              <div class="mob-part">
                <h3>Customized QR Codes</h3>
                <p>
                  Lorem Ipsum is simply dummy text has been the industry's
                  printing and typesetting industry.
                </p>
              </div>
            </div>
            <div class="d-flex">
              <img src="/img/tik.svg" alt="tik pic" />
              <div class="mob-part">
                <h3>Real-time Analytics</h3>
                <p>
                  Lorem Ipsum is simply dummy text has been the industry's
                  printing and typesetting industry.
                </p>
              </div>
            </div>
            <div class="d-flex">
              <img src="/img/tik.svg" alt="tik pic" />
              <div class="mob-part">
                <h3>Real-time Analytics</h3>
                <p>
                  Lorem Ipsum is simply dummy text has been the industry's
                  printing and typesetting industry.
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <img
              src="/img/mobile.png"
              alt="mobile app"
              width="400px"
              class="mobile-pic"
            />
          </div>
          <div class="col-lg-4">
            <div class="d-flex">
              <img src="/img/tik.svg" alt="tik pic" />
              <div class="mob-part">
                <h3>Customized QR Codes</h3>
                <p>
                  Lorem Ipsum is simply dummy text has been the industry's
                  printing and typesetting industry.
                </p>
              </div>
            </div>
            <div class="d-flex">
              <img src="/img/tik.svg" alt="tik pic" />
              <div class="mob-part">
                <h3>Real-time Analytics</h3>
                <p>
                  Lorem Ipsum is simply dummy text has been the industry's
                  printing and typesetting industry.
                </p>
              </div>
            </div>
            <div class="d-flex">
              <img src="/img/tik.svg" alt="tik pic" />
              <div class="mob-part">
                <h3>Real-time Analytics</h3>
                <p>
                  Lorem Ipsum is simply dummy text has been the industry's
                  printing and typesetting industry.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- video part  -->
    <section id="video-section">
      <div class="vedio-sec">
        <img src="/img/vediobanner.jpg" alt="" />
        <div class="container">
          <div class="row">
            <div class="col-md-6 video-col">
              <h2>
                Unlike regular QR Code generators, Ensurely is built for
                scalability and reliability
              </h2>
              <p>
                Lorem Ipsum is simply dummy text has been the industry's
                printing and typesetting industry. Lorem Ipsum is simply dummy
                text has been the industry's printing and typesetting industry.
              </p>
              <!-- <ul class="video-listing">
                   <li><span><i class="fa fa-check-circle" aria-hidden="true"></i> hello </span></li>
                   
                 </ul> -->
              <div class="row">
                <div class="col-lg-6 col-sm-6">
                  <ul class="video-listing">
                    <li>
                      <span>
                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                        Data driven quality review
                      </span>
                    </li>
                    <li>
                      <span>
                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                        Secure work environment
                      </span>
                    </li>
                    <li>
                      <span>
                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                        24x7 coverage
                      </span>
                    </li>
                    <li>
                      <span
                        ><i class="fa fa-check-circle" aria-hidden="true"></i>
                        Lifetime updates</span
                      >
                    </li>
                    <li>
                      <span
                        ><i class="fa fa-check-circle" aria-hidden="true"></i>
                        Management Team</span
                      >
                    </li>
                  </ul>
                </div>
                <div class="col-lg-6 col-sm-6">
                  <ul class="video-listing">
                    <li>
                      <span>
                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                        Data driven quality review
                      </span>
                    </li>
                    <li>
                      <span>
                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                        Secure work environment
                      </span>
                    </li>
                    <li>
                      <span>
                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                        24x7 coverage
                      </span>
                    </li>
                    <li>
                      <span
                        ><i class="fa fa-check-circle" aria-hidden="true"></i>
                        Lifetime updates</span
                      >
                    </li>
                    <li>
                      <span
                        ><i class="fa fa-check-circle" aria-hidden="true"></i>
                        Management Team</span
                      >
                    </li>
                  </ul>
                </div>
                <div class="col-12">
                  <a href="#" class="banner-company digi-btn">
                    <span>GET STARTED NOW </span>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-6 video-col">
              <div class="vedio-banner-in">
                <img src="/img/vedio-img.png" alt="" class="w-100" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="accordion-section">
      <div class="container">
        <h2>Frequently Asked Queries</h2>
        <h5>
          Create QR Codes online with a robust QR Code generator. Whether it’s
          for your website, sharing contact details, or your store location,
          make QR Codes to cater to your needs.
        </h5>
        <div class="row mt-5">
          <div class="col-lg-6">
            <img src="/img/accordion.svg" width="450px" />
          </div>
          <div class="col-lg-6">
            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button
                    class="accordion-button"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseOne"
                    aria-expanded="true"
                    aria-controls="collapseOne"
                  >
                    Lorem Ipsum Frequently Asked Queries
                  </button>
                </h2>
                <div
                  id="collapseOne"
                  class="accordion-collapse collapse show"
                  aria-labelledby="headingOne"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <p>
                      Create QR Codes online with a robust QR Code generator.
                      Whether it’s for your website, sharing contact details, or
                      your store location, make QR Codes to cater to your needs.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo"
                    aria-expanded="false"
                    aria-controls="collapseTwo"
                  >
                    Lorem Ipsum Frequently Asked Queries
                  </button>
                </h2>
                <div
                  id="collapseTwo"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingTwo"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <p>
                      Create QR Codes online with a robust QR Code generator.
                      Whether it’s for your website, sharing contact details, or
                      your store location, make QR Codes to cater to your needs.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseThree"
                    aria-expanded="false"
                    aria-controls="collapseThree"
                  >
                    Lorem Ipsum Frequently Asked Queries
                  </button>
                </h2>
                <div
                  id="collapseThree"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingThree"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <p>
                      Create QR Codes online with a robust QR Code generator.
                      Whether it’s for your website, sharing contact details, or
                      your store location, make QR Codes to cater to your needs.
                    </p>
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="headingfour">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapsefour"
                    aria-expanded="false"
                    aria-controls="collapsefour"
                  >
                    Lorem Ipsum Frequently Asked Queries
                  </button>
                </h2>
                <div
                  id="collapsefour"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingfour"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <p>
                      Create QR Codes online with a robust QR Code generator.
                      Whether it’s for your website, sharing contact details, or
                      your store location, make QR Codes to cater to your needs.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer id="footer-part">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <a href="#"><img src="/img/ensure.ly.png" alt="logo" /></a>
            <p>
              Create QR Codes online with a robust QR Code generator. Whether
              it’s for your website, sharing contact details.
            </p>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-12">
            <ul>
              <li>
                <a href="#">Company</a>
              </li>
              <li>
                <a href="#">Solutions</a>
              </li>
              <li>
                <a href="#">Blog</a>
              </li>
              <li>
                <a href="#">Pricing</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-12">
            <ul>
              <li>
                <a href="#">Company</a>
              </li>
              <li>
                <a href="#">Solutions</a>
              </li>
              <li>
                <a href="#">Blog</a>
              </li>
              <li>
                <a href="#">Pricing</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-12">
            <ul>
              <li>
                <a href="#">Company</a>
              </li>
              <li>
                <a href="#">Solutions</a>
              </li>
              <li>
                <a href="#">Blog</a>
              </li>
              <li>
                <a href="#">Pricing</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12 footer-social">
            <ul>
              <li>p: <a href="tel:+91-172-6131700">+91-172-6131700</a></li>
              <li>
                E: <a href="mailto:info@digimantra.com"> info@digimantra.com</a>
              </li>
              <li>
                <div class="footer-icon">
                  <a href="#">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
  <!-- slider part start -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.all.min.js"></script> -->
  <script src="https://unpkg.com/typeit@8.4.0/dist/index.umd.js"></script>
  <script src="/js/vendor-all.min.js"></script>
  <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
  <script>
  // prevent resubmission form
  if ( window.history.replaceState ) {
  window.history.replaceState( null, null, window.location.href );
  }
    // if user select direct signup
    $(document).ready(function () {
      $("#direct-signup").click(function (){
        $("#1stbanner").css("display", "none");
        $("#2ndbanner").css("display", "none");
        $("#3rdbanner").css("display", "none");
        $("#4thbanner").css("display", "none");
        $("#5thbanner").css("display", "flex");
        $("#6thbanner").css("display", "none");
        $("#7thbanner").css("display", "none");
        $("#8thbanner").css("display", "none");
        $("#9thbanner").css("display", "none");
        $("#10thbanner").css("display", "none");
        $("#11thbanner").css("display", "none");
        $("#12thbanner").css("display", "none");
        $("#direct-signup").css("display", "none");
        localStorage.setItem("isSurveyCompleted", false);
        
      })})


    // If user select company
    $(document).ready(function () {
      $("#company").click(function () {
        $("#2ndbanner").css("display", "flex");
        $("#1stbanner").css("display", "none");
        $("#2ndbannerYes,#2ndbannerNo").css("display", "none");

        new TypeIt("#Qstn2Part1", {
          afterComplete: async () => {
            speed: 75;
            $("#2ndbannerYes,#2ndbannerNo").css("display", "inline-block");
          },
        }).go();
      });

      $("#2ndbannerYes").click(function () {
        $("#2ndbanner").css("display", "none");
        $("#3rdbanner").css("display", "flex");
        $("#3rdbannerYes,#3rdbannerNo").css("display", "none");
        new TypeIt("#Qstn3Part1", {
          afterComplete: async () => {
            $("#3rdbannerYes,#3rdbannerNo").css("display", "inline-block");
          },
        }).go();
      });

      $("#3rdbannerYes").click(function () {
        $("#4thbanner").css("display", "flex");
        $("#3rdbanner").css("display", "none");
        $("#4thbannerSignUpNow").css("display", "none");
        new TypeIt("#Qstn4Part1", {
          afterComplete: async () => {
            $("#4thbannerSignUpNow").css("display", "inline-block");
          },
        }).go();
      });

      $("#4thbannerSignUpNow").click(function () {
        $("#4thbanner").css("display", "none");
        $("#5thbanner").css("display", "flex");
        $("#direct-signup").css("display", "none");
        localStorage.setItem("isSurveyCompleted", false);
      });

      $("#2ndbannerNo").click(function () {
        $("#2ndbanner").css("display", "none");
        $("#6thbanner").css("display", "flex");
        $("#6thbanner1Billion,#6thbanner10Billion,#6thbanner100Billion").css(
          "display",
          "none"
        );
        new TypeIt("#Qstn6Part1", {
          afterComplete: async () => {
            $(
              "#6thbanner1Billion,#6thbanner10Billion,#6thbanner100Billion"
            ).css("display", "inline-block");
          },
        }).go();
      });

      $("#3rdbannerNo").click(function () {
        $("#3rdbanner").css("display", "none");
        $("#6thbanner").css("display", "flex");
        $("#6thbanner1Billion,#6thbanner10Billion,#6thbanner100Billion").css(
          "display",
          "none"
        );
        new TypeIt("#Qstn6Part1", {
          afterComplete: async () => {
            $(
              "#6thbanner1Billion,#6thbanner10Billion,#6thbanner100Billion"
            ).css("display", "inline-block");
          },
        }).go();
      });

      $("#6thbanner1Billion").click(function () {
        $("#7thbanner").css("display", "flex");
        $("#6thbanner").css("display", "none");
        $("#7thbannergetstartedNow").css("display", "none");
        new TypeIt("#Qstn7Part1", {
          afterComplete: async () => {
            $("#7thbannergetstartedNow").css("display", "inline-block");
          },
        }).go();
      });

      $("#6thbanner10Billion").click(function () {
        $("#7thbanner").css("display", "flex");
        $("#6thbanner").css("display", "none");
        $("#7thbannergetstartedNow").css("display", "none");
        new TypeIt("#Qstn7Part1", {
          afterComplete: async () => {
            $("#7thbannergetstartedNow").css("display", "inline-block");
          },
        }).go();
      });

      $("#6thbanner100Billion").click(function () {
        $("#7thbanner").css("display", "flex");
        $("#6thbanner").css("display", "none");
        $("#7thbannergetstartedNow").css("display", "none");
        new TypeIt("#Qstn7Part1", {
          afterComplete: async () => {
            $("#7thbannergetstartedNow").css("display", "inline-block");
          },
        }).go();
      });

      $("#7thbannergetstartedNow").click(function () {
        $("#7thbanner").css("display", "none");
        $("#5thbanner").css("display", "flex");
        $("#direct-signup").css("display", "none");
        localStorage.setItem("isSurveyCompleted", false);
      });

      //************* if user select consumer ******************//////////////

      $("#consumer").click(function () {
        $("#1stbanner").css("display", "none");
        $("#8thbanner").css("display", "flex");
        $("#8thbannerYes,#8thbannerNo").css("display", "none");
        new TypeIt("#Qstn8Part1", {
          afterComplete: async () => {
            $("#8thbannerYes,#8thbannerNo").css("display", "inline-block");
          },
        }).go();
      });

      $("#8thbannerYes").click(function () {
        $("#8thbanner").css("display", "none");
        $("#9thbanner").css("display", "flex");
        $("#9thbannerYes,#9thbannerNo").css("display", "none");
        new TypeIt("#Qstn9Part1", {
          afterComplete: async () => {
            $("#9thbannerYes,#9thbannerNo").css("display", "inline-block");
          },
        }).go();
      });

      $("#9thbannerYes").click(function () {
        $("#10thbanner").css("display", "flex");
        $("#9thbanner").css("display", "none");
        $("#10thbannerLink").css("display", "none");
        new TypeIt("#Qstn10Part1", {
          afterComplete: async () => {
            $("#10thbannerLink").css("display", "inline-block");
          },
        }).go();
      });

      $("#8thbannerNo").click(function () {
        $("#8thbanner").css("display", "none");
        $("#12thbanner").css("display", "flex");
        $("#12thbanner1Billion,#12thbanner10Billion,#12thbanner100Billion").css(
          "display",
          "none"
        );
        new TypeIt("#Qstn12Part1", {
          afterComplete: async () => {
            $(
              "#12thbanner1Billion,#12thbanner10Billion,#12thbanner100Billion"
            ).css("display", "inline-block");
          },
        }).go();
      });

      $("#9thbannerNo").click(function () {
        $("#9thbanner").css("display", "none");
        $("#12thbanner").css("display", "flex");
        $("#12thbanner1Billion,#12thbanner10Billion,#12thbanner100Billion").css(
          "display",
          "none"
        );
        new TypeIt("#Qstn12Part1", {
          afterComplete: async () => {
            $(
              "#12thbanner1Billion,#12thbanner10Billion,#12thbanner100Billion"
            ).css("display", "inline-block");
          },
        }).go();
      });

      $("#12thbanner1Billion").click(function () {
        $("#12thbanner").css("display", "none");
        $("#11thbanner").css("display", "flex");
        $("#11thbannerDownloadLink").css("display", "none");
        new TypeIt("#Qstn11Part1", {
          afterComplete: async () => {
            $("#11thbannerDownloadLink").css("display", "inline-block");
          },
        }).go();
      });

      $("#12thbanner10Billion").click(function () {
        $("#12thbanner").css("display", "none");
        $("#11thbanner").css("display", "flex");
        $("#11thbannerDownloadLink").css("display", "none");
        new TypeIt("#Qstn11Part1", {
          afterComplete: async () => {
            $("#11thbannerDownloadLink").css("display", "inline-block");
          },
        }).go();
      });

      $("#12thbanner100Billion").click(function () {
        $("#12thbanner").css("display", "none");
        $("#11thbanner").css("display", "flex");
        $("#11thbannerDownloadLink").css("display", "none");
        new TypeIt("#Qstn11Part1", {
          afterComplete: async () => {
            $("#11thbannerDownloadLink").css("display", "inline-block");
          },
        }).go();
      });
    });
  </script>
  <script>
    // signup validation

    jQuery.validator.addMethod(
      "passwordValidation",
      function (value) {
        return value.match(
          /^(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/
        );
      },
      "Please enter 1 capital,1 special,1 numeric and Minimum 8 Char"
    );
    $(document).ready(function () {
      $("#homePageSignup").validate({
        rules: {
          name: { required: true, maxlength: 60 },
          email: { required: true, email: true, maxlength: 100 },
          password: { required: true, passwordValidation: true, minlength: 8 },
          confirmPassword: {
            required: true,
            passwordValidation: true,
            minlength: 8,
          },
        },
      });
    });



    // signup validation end

    // earlyAccess validation
    $(document).ready(function () {
      $(".earlyAccess").validate({
        rules: {
          email: { required: true, email: true, maxlength: 100 },
        },
      });
    });
  </script>
  <script>
    document
      .querySelector("#homePageSignup")
      .addEventListener("submit", (e) => {
        const message = document.forms["homePageSignup"]["email"].value;
        localStorage.setItem("email", message);
      });
    //check document ready
    $(document).ready(function () {
      let isSurveyCompleted =
        localStorage.getItem("isSurveyCompleted") == "true" ? true : false;
      if (isSurveyCompleted) {
        $("#direct-signup").css("display", "none");
        $("#1stbanner").css("display", "none");
        $("#2ndbanner").css("display", "none");
        $("#3rdbanner").css("display", "none");
        $("#4thbanner").css("display", "none");
        $("#6thbanner").css("display", "none");
        $("#7thbanner").css("display", "none");
        $("#8thbanner").css("display", "none");
        $("#9thbanner").css("display", "none");
        $("#10thbanner").css("display", "none");
        $("#11thbanner").css("display", "none");
        $("#12thbanner").css("display", "none");
        $("#12thbanner").css("display", "none");
        $("#5thbanner").css("display", "flex");
      }
    });
    //////////////
    new TypeIt(".Qstn1Part1,.Qstn1Part3,.Qstn1Part3", {
      beforeStep: async () => {
        instant: true, $("#company,#consumer").css("display", "none");
      },
      // speed: 80,
      afterComplete: async () => {
        $("#company,#consumer").css("display", "inline-block");
      },
    }).go();
  </script>
  <!-- end of  this part -->
</html>
